[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
synthesizer = "*"
pyaudio = "*"
py-midi = "*"
mido = "*"
python-rtmidi = "*"
pygame = "*"
tk = "*"
pillow = "*"
gtts = "*"
pytesseract = "*"

[dev-packages]

[requires]
python_version = "3.9"
